

body {
  margin: 0;
  background-image: url('./image\'s/background.jpg');
  font: 100 14px 'Roboto';
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
    width: 320px;
    height: 520px;
    border-radius: 5px;
    position: relative;
}


:root {
  display: flex;
  justify-content: center;
  align-items: center;
  zoom: 0.6;
}


