body {
  margin: 0;
  padding: 0;
  background-image: url('./image\'s/background.jpg');
}

.app {
    margin: 20px auto;
    padding: 0;
    width: 500px;
    border-radius: 5px;
    display: flex;
}
